.row {
  width: 700px;
  height: 900px:;
  margin: auto;
  margin-top: 150px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21); 
  box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
  border-radius: 20px;
  background-color: #F2F2F2;
}
.leftside, .rightside {
  margin: 25px;


}
.leftside {
  

}
.rightside{

  }
.loginicon{
    max-height: 300px;
    max-width: 300px;
  }
.btn {
margin-top: 10px;
margin-left: 10px;
}

